In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("DemoApp").getOrCreate()
rdd = spark.sparkContext.parallelize([1, 2, 3, 4, 5])
s_rdd = rdd.map(lambda x: x * x)

print(s_rdd.collect())

[1, 4, 9, 16, 25]

In [ ]:

rdd=spark.sparkContext.parallelize([4,2,5,6,9])
s_rdd=(rdd.filter(lambda x: x%3!=0).map(lambda x: x**2).sortBy(lambda x:x))
print(s_rdd.collect())

[4, 16, 25]

In [ ]:
rdd=spark.sparkContext.parallelize(["company","rev","client","pesis"])
s_rdd=(rdd.map(lambda word: len(word)).filter(lambda length: length>4).sortBy(lambda x: x, ascending=False))
print(s_rdd.collect())

[7, 6, 5]

In [ ]:
rdd=spark.sparkContext.parallelize([("electronics",100),("skincare",50),("electronics",40),("garments",30),("jewelery",20)])
s_rdd=(rdd.reduceByKey(lambda x,y: x+y).sortBy(lambda x:x))
print(s_rdd.collect())

[('electronics', 140), ('garments', 30), ('jewelery', 20), ('skincare', 50)]

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

spark = SparkSession.builder.appName("HogwartsAnalysis").getOrCreate()

data = [
    ("Gryffindor", 1, 80, "Harry Potter"),
    ("Slytherin", 1, 60, "Draco Malfoy"),
    ("Ravenclaw", 1, 45, "Luna Lovegood"),
    ("Hufflepuff", 1, 30, "Cedric Diggory"),
    ("Gryffindor", 2, 90, "Hermione Granger"),
    ("Slytherin", 2, 70, "Pansy Parkinson"),
    ("Ravenclaw", 2, 55, "Cho Chang"),
    ("Hufflepuff", 2, 65, "Hannah Abbott"),
    ("Gryffindor", 3, 20, "Ron Weasley"),
    ("Slytherin", 3, 85, "Blaise Zabini")
]

columns = ["house", "year", "points", "student"]
df = spark.createDataFrame(data, columns)
df.show()

+----------+----+------+----------------+
|     house|year|points|         student|
+----------+----+------+----------------+
|Gryffindor|   1|    80|    Harry Potter|
| Slytherin|   1|    60|    Draco Malfoy|
| Ravenclaw|   1|    45|   Luna Lovegood|
|Hufflepuff|   1|    30|  Cedric Diggory|
|Gryffindor|   2|    90|Hermione Granger|
| Slytherin|   2|    70| Pansy Parkinson|
| Ravenclaw|   2|    55|       Cho Chang|
|Hufflepuff|   2|    65|   Hannah Abbott|
|Gryffindor|   3|    20|     Ron Weasley|
| Slytherin|   3|    85|   Blaise Zabini|
+----------+----+------+----------------+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

spark = SparkSession.builder.appName("HogwartsAnalysis").getOrCreate()

data = [
    ("Gryffindor", 1, 80, "Harry Potter"),
    ("Slytherin", 1, 60, "Draco Malfoy"),
    ("Ravenclaw", 1, 45, "Luna Lovegood"),
    ("Hufflepuff", 1, 30, "Cedric Diggory"),
    ("Gryffindor", 2, 90, "Hermione Granger"),
    ("Slytherin", 2, 70, "Pansy Parkinson"),
    ("Ravenclaw", 2, 55, "Cho Chang"),
    ("Hufflepuff", 2, 65, "Hannah Abbott"),
    ("Gryffindor", 3, 20, "Ron Weasley"),
    ("Slytherin", 3, 85, "Blaise Zabini")
]

columns = ["house", "year", "points", "student"]
df = spark.createDataFrame(data, columns)
res=(df.select("house","year" ,"points").filter(df.points>50).groupBy("house","year").agg(sum("points").alias ("total_points")).orderBy("year","total_points" ,ascending=False))
res.show()

+----------+----+------------+
|     house|year|total_points|
+----------+----+------------+
| Slytherin|   3|          85|
|Gryffindor|   2|          90|
| Slytherin|   2|          70|
|Hufflepuff|   2|          65|
| Ravenclaw|   2|          55|
|Gryffindor|   1|          80|
| Slytherin|   1|          60|
+----------+----+------------+

In [ ]:
''' The Fellowship of the Ring is battling across Middle-earth, and Gandalf needs your
help to analyze their combat performance. The data tracks each
member’s battles, enemies defeated, and injuries sustained.
To prepare for the next council in Rivendell, select the member’s name, race,
and enemies defeated, filter for battles where more than 5 enemies were defeated,
 group by race to calculate the average enemies defeated, and order by the average
  in descending order. This will help the council decide which races are most
  effective in combat and plan their strategy against Sauron’s forces.
'''
data = [
    ("Aragorn", "Human", 10, 2, "Helms Deep"),
    ("Legolas", "Elf", 15, 0, "Helms Deep"),
    ("Gimli", "Dwarf", 8, 3, "Helms Deep"),
    ("Frodo", "Hobbit", 2, 1, "Moria"),
    ("Sam", "Hobbit", 4, 2, "Moria"),
    ("Gandalf", "Wizard", 12, 1, "Moria"),
    ("Boromir", "Human", 7, 4, "Amon Hen"),
    ("Legolas", "Elf", 20, 0, "Amon Hen"),
    ("Aragorn", "Human", 9, 2, "Amon Hen")
]

columns = ["name", "race", "enemies_defeated", "injuries", "battle"]
df = spark.createDataFrame(data, columns)
df.show()

+-------+------+----------------+--------+----------+
|   name|  race|enemies_defeated|injuries|    battle|
+-------+------+----------------+--------+----------+
|Aragorn| Human|              10|       2|Helms Deep|
|Legolas|   Elf|              15|       0|Helms Deep|
|  Gimli| Dwarf|               8|       3|Helms Deep|
|  Frodo|Hobbit|               2|       1|     Moria|
|    Sam|Hobbit|               4|       2|     Moria|
|Gandalf|Wizard|              12|       1|     Moria|
|Boromir| Human|               7|       4|  Amon Hen|
|Legolas|   Elf|              20|       0|  Amon Hen|
|Aragorn| Human|               9|       2|  Amon Hen|
+-------+------+----------------+--------+----------+

In [ ]:
from pyspark.sql.functions import avg
res=(
    df.select("name","race","enemies_defeated").filter(df.enemies_defeated>5)
    .groupBy("race")
    .agg(avg("enemies_defeated").alias("avg_enemies_defeated"))
    .orderBy("avg_enemies_defeated",ascending=False)
    )
res.show()

+------+--------------------+
|  race|avg_enemies_defeated|
+------+--------------------+
|   Elf|                17.5|
|Wizard|                12.0|
| Human|   8.666666666666666|
| Dwarf|                 8.0|
+------+--------------------+